<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOW</title>
</head>

<body>
    <h1>Product By ID :
        <%=products.name%>
    </h1>
    <a href="/products">home</a>
</body>
<a href="/products/<%=products.id%>/edit"> edit</a>
<form method="POST" action="/products/<%=products.id%>?_method=DELETE">
    <button>DELETE</button>
</form>

</html>